.icon-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  .icon-char {
    line-height: 1;
    font-weight: 500;
  }

  &.icon-simple {
    .icon-char {
      font-weight: 300;
      font-size: 1.2em;
    }
  }
}
